@{
    ViewData["Title"] = "Index";
}
@foreach (char letra in ViewBag.palabra)
{
    <span>@letra</span>
}
<p>Letras usadas:</p>
<p>Intentos: </p>
<form action='@Url.Action("AdivinarLetra", "Home")' method="POST" enctype="multipart/form-data">
    <input type = "text" maxlength="1" name="letra">
    <input type="submit" value="Arriesgar letra">
</form>
<br><br>
<form action='@Url.Action("AdivinarPalabra", "Home")' method="POST" enctype="multipart/form-data">
    <input type = "search">
    <input type="button" value="Arriesgar palabra">
</form>